<!-- 
 NOTICE of adjustment: 
 This code has been significantly altered from the original. Format. See topbar.html of the master for the original.
-->

<!-- The Top Bar -->

<style>
  #topbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other content */
    background: none; /* Remove any background color */
    box-shadow: none; /* Remove any box shadow */
  }
  #topbar {
    background: none; /* Remove any background color */
    box-shadow: none; /* Remove any box shadow */
  }
  body {
    padding-top: 0px; /* Adjust this value based on the height of the top bar */
  }
</style>

<header id="topbar-wrapper" aria-label="Top Bar">
  <div
    id="topbar"
    class="d-flex align-items-center justify-content-between px-lg-3 h-100"
  >

    <!-- end of #breadcrumb -->

    <button type="button" id="sidebar-trigger" class="btn btn-link">
      <i class="fas fa-bars fa-fw"></i>
    </button>

    <button type="button" class="btn btn-link text-decoration-none" id="search-cancel">
      {{- site.data.locales[include.lang].search.cancel -}}
    </button>
  </div>
</header>
